@media only screen and (max-width:680px) {
    body {
        background-color: rgb(252, 252, 252);
    }

    .logoSansa {

        width: 80px;
        height: 80px;

        padding: 0px 0px 0px 0px;

        margin: 0px;

    }
}

/*@media (min-width:680px) {
    li {
        padding: 0px 0px 0px 0px;
        margin-left: 130px;
        display: inline-block;
    }

   /* .frase {

        padding: 0px 0px 0px 0px;
        border: 0px;
        margin-left: 230px;
        margin-right: 200px;


    }

}
*/
@media only screen and (max-width:680px) {
    .productoVideo {
        padding: 10px 10px 10px 10px;
        border: 0px;
        margin-left: 200px;
        margin-right: 100px;


    }
}

@media only screen and (max-width:680px) {
    .video {
        padding: 10px 10px 10px 10px;
        border: 5px;
        margin-left: 350px;
        margin-right: 100px;

        transition: all 2s;


    }

    .video:hover {
        transform: scale(2) translatex(150px);
    }

    h2 {
        padding: 10px, 10px, 10px, 10px;
        margin-left: 50px;
        border: 0px, 0px, 0px, 0px;

    }
}

@media only screen and (max-width:680px) {
    

    .insta {
        background-color: turquoise;
        border-color: tomato;
        border-radius: 5px;
        margin-left: 50px;


    }

    .wp {
        background-color: turquoise;
        border-color: tomato;
        border-radius: 5px;
    }
}




@media only screen and (max-width:680px) {
    .lomasVendido {
        display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
        
        /*display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "topIbis remeraKaty"
            " musculosaHombrera shortMarruecos"
        ;*/
    }


    .musculosaHombrera {
        grid-area: musculosaHombrera;
        transition: all 2s;

    }

    .musculosaHombrera:hover {
        transform: scale(2) translatex(150px);

    }

    .remeraKaty {
        grid-area: remeraKaty;
        transition: all 2s;
    }

    .remeraKaty:hover {
        transform: scale(2) translatex(-100px);
    }

    .shortMarruecos {
        grid-area: shortMarruecos;
        transition: all 2s;
    }

    .shortMarruecos:hover {
        transform: scale(2) translatex(150px);
    }

    .topIbis {
        grid-area: topIbis;
        transition: all 2s;
    }

    .topIbis:hover {
        transform: scale(2) translatex(-100px);
    }
}

@media only screen and (max-width:680px) {
    .galeriaProductos {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "vestido2"
            "vestido1"
            "vestido3"


        ;
    }


    .vestidoLali {
        grid-area: vestido1;
    }

    .vestidoMandy {
        grid-area: vestido2;
    }

    .vestidoSara {
        grid-area: vestido3;
    }

    .listaSecciones {
        display: flex;
        flex-direction: row;

    }

    .cabeza {
        display: grid;
        grid-auto-rows: auto;

    }
}

.frase {
    display: auto;
    margin: 50px 5.5rem;

    animation: bounce;
    animation-duration: 5s;
}

@media only screen and (max-width:680px) {
    .pieSansa{
        display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: black;
        
        

    }


.tituloFooter {
    padding: 50px;
    color: aliceblue;
    display: auto;
    align-self: flex-start;
    animation: bounce;
    animation-duration: 5s;
}
.maps{
    align-self: flex-end;
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
    



}
}