@media only screen and (max-width: 680px) {
  body {
    background-color: #fcfcfc;
  }
  .logoSansa {
    width: 80px;
    height: 80px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
  }
}

/*@media (min-width:680px) {
    li {
        padding: 0px 0px 0px 0px;
        margin-left: 130px;
        display: inline-block;
    }

   /* .frase {

        padding: 0px 0px 0px 0px;
        border: 0px;
        margin-left: 230px;
        margin-right: 200px;


    }

}
*/
@media only screen and (max-width: 680px) {
  .productoVideo {
    padding: 10px 10px 10px 10px;
    border: 0px;
    margin-left: 200px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 680px) {
  .video {
    padding: 10px 10px 10px 10px;
    border: 5px;
    margin-left: 350px;
    margin-right: 100px;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .video:hover {
    -webkit-transform: scale(2) translatex(150px);
            transform: scale(2) translatex(150px);
  }
  h2 {
    padding: 10px, 10px, 10px, 10px;
    margin-left: 50px;
    border: 0px, 0px, 0px, 0px;
  }
}

@media only screen and (max-width: 680px) {
  .insta {
    background-color: turquoise;
    border-color: tomato;
    border-radius: 5px;
    margin-left: 50px;
  }
  .wp {
    background-color: turquoise;
    border-color: tomato;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 680px) {
  .lomasVendido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "topIbis remeraKaty"
            " musculosaHombrera shortMarruecos"
        ;*/
  }
  .musculosaHombrera {
    grid-area: musculosaHombrera;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .musculosaHombrera:hover {
    -webkit-transform: scale(2) translatex(150px);
            transform: scale(2) translatex(150px);
  }
  .remeraKaty {
    grid-area: remeraKaty;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .remeraKaty:hover {
    -webkit-transform: scale(2) translatex(-100px);
            transform: scale(2) translatex(-100px);
  }
  .shortMarruecos {
    grid-area: shortMarruecos;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .shortMarruecos:hover {
    -webkit-transform: scale(2) translatex(150px);
            transform: scale(2) translatex(150px);
  }
  .topIbis {
    grid-area: topIbis;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .topIbis:hover {
    -webkit-transform: scale(2) translatex(-100px);
            transform: scale(2) translatex(-100px);
  }
}

@media only screen and (max-width: 680px) {
  .galeriaProductos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "vestido2" "vestido1" "vestido3";
  }
  .vestidoLali {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: vestido1;
  }
  .vestidoMandy {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: vestido2;
  }
  .vestidoSara {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: vestido3;
  }
  .listaSecciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cabeza {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: auto;
  }
}

.frase {
  display: auto;
  margin: 50px 5.5rem;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@media only screen and (max-width: 680px) {
  .pieSansa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: black;
  }
  .tituloFooter {
    padding: 50px;
    color: aliceblue;
    display: auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-animation: bounce;
            animation: bounce;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
  }
  .maps {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */