body {
    background-color: rgb(231, 186, 186);
}




.logoSansa {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 10px;
    left: 10px;
    padding: 0px 0px 0px 0px;
    border: 5px solid rgb(139, 105, 146);
    border-radius: 5px;
    margin: 10px;
}


li {
    padding: 10px 10px 10px 10px;
    margin-left: 130px;
    display: inline-block;
}

.frase {

    padding: 10px 10px 100px 100px;
    border: 0px;
    margin-left: 230px;
    margin-right: 200px;


}


.productoVideo {
    padding: 10px 10px 10px 10px;
    border: 0px;
    margin-left: 200px;
    margin-right: 100px;


}

.video {
    padding: 10px 10px 10px 10px;
    border: 5px;
    margin-left: 350px;
    margin-right: 100px;

}

h2 {
    padding: 10px, 10px, 10px, 10px;
    margin-left: 50px;
    border: 0px, 0px, 0px, 0px;

}


.cabeza {
    color:rgb(231, 186, 186);
    background-color: rgb(231, 186, 186);
    padding: 30px;
    display:flex



}

.insta {
    background-color: turquoise;
    border-color: tomato;
    border-radius: 5px;
    margin-left: 50px;


}

.wp {
    background-color: turquoise;
    border-color: tomato;
    border-radius: 5px;
}






.lomasVendido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "topIbis remeraKaty"
        " musculosaHombrera shortMarruecos"
    ;
}


.musculosaHombrera {
    grid-area: musculosaHombrera;
}

.remeraKaty {
    grid-area: remeraKaty;
}

.shortMarruecos {
grid-area: shortMarruecos;
}

.topIbis {
    grid-area: topIbis;
}

.galeriaProductos{
    display: grid;
grid-template-columns: 2fr 2fr;
grid-template-rows: 1fr 1fr;
grid-template-areas:
    "vestido2"  
    "vestido1"
    "vestido3"
    
    
;
}


.vestidoLali {
grid-area: vestido1;
}

.vestidoMandy {
grid-area: vestido2;
}

.vestidoSara {
grid-area: vestido3;
}

.listaSecciones {
    display: flex;
flex-direction: row;

}

.cabeza{
    display: grid;
grid-auto-rows: auto;

}

